.App{
    width: 100%;
    background-color: rgb(48, 36, 36);
    text-align: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-image: url('./imagenes/fondo.avif');
}

.logo-lautaropedroza{
    width: 80%;
   padding: 5%;
   border-radius: 10px;
   box-shadow: 0 0 10px white;
    background-color: white;
    margin-top: 5%;
    
}

.contenedor-calculadora{
   margin: 20px 50px;
   min-height: 450px;
    background-color: rgba(255, 255, 255, 0.671);  
 backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(12px);
    margin-top: 5%;
    box-shadow: 0 0 15px white;
    border-radius: 20px;
    /* flex */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fila{
    width: 100%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
   

}














































